#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    overflow: hidden;
    height: 80px;
}

.container {
    flex-direction: column;
    padding: 1rem;
}

.container .temperature {
    width: 85%;
    padding: 1.5rem;
}

.container .little-control {
    width: 100%;
    margin: 1rem 0;
}

.container .little-control h1 {
    margin: 1rem 0;
}

.switch {
    margin: 1rem 29%;
    margin-bottom: 2rem;
}
.value-button{
    width: 4rem;
}